@import "partialColor";
header{
    background-color: $bgColor1;
    color: white;
    min-height: 100vh;
    button{
        background-color: $btnColor1;
    }
}
footer {
    background-color: $bgColor2;
    color: white;
}
